#Server
PORT=XXXX
CLIENT_ORIGIN=XXXX

#Database
DATABASE_URL="postgresql://XXXXXX:XXXXXXXXXX@XXXXXXXXXX"

#Auth
JWT_SECRET=XXXXXXXXXXXXX

#Redis
REDIS_HOST=XXXXXXXXX
REDIS_PORT=XXXXXXX
REDIS_URL=XXXXXXXXXXXXX